<%= form_with(model: [@post, @post.comments.build] ,local: true) do |form| %>
    <div class="panel panel-default">
        <div class="panel-heading"><%= form.label "Comenta:" %></div>
        <div class="panel-body">
            <%= form.text_area :text, class:"form-control" %>
            <br><%= form.submit "Enviar", class:"btn btn-success" %>
        </div>
    </div>
    
<% end %>
    