
<footer class="footer py-2 text-md-center" style="
background-image:url(http://bodybybrent.com/wp-content/uploads/2012/05/Black-Background-Metal-2560x1600-by-Freeman2.jpg);
background-size: 100% 100%;
box-shadow: 2px -1px 5px black;">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center">
				<br>
				<a href="/contacts/new" style="color:white;">CONTACTO</a>
			</div>
			<div class="col-md-6">
				<br>
				<p style="font-size:15px; color:white;">Instrumentados © Todos los derechos reservados</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center" style="color:white;">
				<p >UNIVERSIDAD NACIONAL DE COLOMBIA</p>
				<br>
			</div>
		</div>
	</div>
</footer>
