
<br>
<footer class="footer py-2 text-md-center" style="background-color:black">
	<div class="container" style="color:grey">
		<div class="row">
			<div class="col-md-6 text-center">
				<br>
				<a href="/contacts/new">CONTACTO</a>
			</div>
			<div class="col-md-6">
				<br>
				<p style="font-size:15px">Instrumentados © Todos los derechos reservados</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<p style="color:grey">UNIVERSIDAD NACIONAL DE COLOMBIA</p>
				<br>
			</div>
		</div>
	</div>
</footer>
