<div class="alert alert-success alert-dismissable sesion">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong><%= notice %></strong>
</div>
<div class = "container-fluid" style = "padding-top:20px;">
	<%= link_to "Crear Curso", courses_path, class: "btn btn-primary" %>
</div>
