<% if notice %>
	<div class="alert alert-success alert-dismissable sesion">
	  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  <strong><%= notice %></strong>
	</div>
<% end %>

<div class="jumbotron text-center">
	<div class="titulo">
		<h1>Instrumentados</h1>
		<p>Aprende y comparte tu conocimiento musical</p>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8">
			<h2 style="color: #251d4c;">
				<strong>Acerca de nosostros</strong>
			</h2>
			<p style="text-align: justify;">
				Somos una plataforma educativa que pretender facilitar el acceso a la educación músical a través de cursos virtuales de manera interactiva. En los cursos podrás encontrar videos, documentos, lecciones y foros para darte una experiancia realmente
				fascinante mientras aprendes.
			</p>
		</div>
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-info-sign logo" style="color: #251d4c;"></span>
		</div>
	</div>
</div>

<div class="container-fluid bg-grey">
	<div class="row">
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-book logo" style="color: #251d4c;"></span>
		</div>
		<div class="col-sm-8">
			<h2 style="color:#251d4c;">
				<strong>Acerca de los cursos</strong>
			</h2>
			<p style="text-align: justify;">
				Instrumentados ofrece una gran variedad de cursos extructurados en lecciones, encontrarás cursos propios de la plataforma y cursos creados por otros usuarios permitiendo una gran oferta. Algunos instrumentos que podrás aprender son:
			</p>
			<ul>
				<li>Guitarra</li>
				<li>Trompeta</li>
				<li>Violín</li>
				<li>etc...</li>
			</ul>
		</div>
	</div>
</div>
