
<style>
	@media screen and ( max-width: 400px ){
		.instrumentados{
			font-size: 18px;
		}
	}
</style>

<body>

	<%= render "partials/banner" %>

	<div class="container text-center" style="
							position:relative;
							box-shadow:inset 0px 0px 200px black;
							min-width: 100%;
							min-height:100%;
							background-image: url(/assets/landing1);
							background-size:100% 100%">
		<div class="row" style="margin-top:5%">
			<div class="col-md-12 text-center">
				<div class="container" style="width:35%;
				padding-top:2%; padding-bottom:2%;
				background: rgba(0, 0, 0, 0.9);
				border-radius:2px; ">
					<h1 style="color:#FFF8E1; text-shadow: 0px 0px 5px black; opacity:0%">Instrumentados</h1>
					<br>
					<br>
					<h3 style="color:white; text-shadow: 0px 0px 5px black">
						¡Aprende y comparte <br> tu conocimiento musical!
					</h3>
					<div class="btn-group">
						<a class="button" href="/users/sign_up">Registrate</a>
						<br>
						<a class="button" href="/users/sign_in">Inicia sesión</a>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="container text-center" style="
	min-width: 100%;
	min-height:100%;
	background-image: url(/assets/landing2);
	box-shadow:inset 0px 50px 50px black;
	background-size:100% 100%">
	<div class="row" style="margin-top:6%">
		<div class="col-md-12">
			<h1 style="color:white"><strong>ACERCA DE NOSOTROS</strong></h1>
		</div>
	</div>
	<div class="row" style="margin-top:7%">
		<div class="col-md-4" style="padding-left:5%; padding-right:5%">
			<h3 style="color:white; text-align:center">
				Somos una plataforma educativa que pretende facilitar el acceso a la educación músical
				a través de cursos virtuales de manera interactiva.
			</h3>
		</div>
		<div class="col-md-4" style="padding-left:5%; padding-right:5%">
			<h3 style="color:white; text-align:center">
				En los cursos podrás encontrar videos, documentos y lecciones para
				darte una experiancia realmente fascinante mientras aprendes.
			</h3>
		</div>
		<div class="col-md-4" style="padding-left:5%; padding-right:5%">
			<h3 style="color:white; text-align:center">
				Si tienes dudas con respecto a lo que estás aprendiendo, no dudes en
				preguntar a la comunidad en el foro dispuesto en cada curso.
			</h3>
		</div>
	</div>

	<h3 align=justify style="color:white; position:relative; top:30%; left:10%; max-width:80%">
		  </h3>
	</div>
	<div class="container text-center" style="
	min-width: 100%;
	min-height:100%;
	background-image: url(/assets/landing3);
	box-shadow:inset 0px 0px 200px black;
	background-size:100% 100%">
		<div class="row" style="padding-top:6%; width:90%; padding-left:10%">
			<div class="col-md-12">
				<h1 style="color:black"><strong>ACERCA DE LOS CURSOS</strong></h1>
				<h3 style="color:black">
					Instrumentados ofrece una gran variedad de cursos extructurados en lecciones.
					Encontrarás cursos propios de la plataforma y cursos creados por otros usuarios
					permitiendo una gran oferta. Algunos instrumentos que podrás aprender son:
				</h3>
			</div>
		</div>
		<div class="row" style="margin-top:3%; padding-left:5%">
			<div class="col-md-4">
				<div class="polaroid">
					<img src="/assets/guitarra" style="width:100%">
					<p style="padding-top:5%; padding-bottom:5%">Curso de Guitarra</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="polaroid">
					<img src="/assets/violin" style="width:100%">
					<p style="padding-top:5%; padding-bottom:5%">Curso de violín</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="polaroid">
					<img src="/assets/trompeta" style="width:100%">
					<p style="padding-top:5%; padding-bottom:5%">Curso de trompeta</p>
				</div>
			</div>
		</div>
	</div>
	<%= render "partials/footer" %>
</body>
