<style>
	@media screen and ( max-width: 400px ){
		.instrumentados{
			font-size: 18px;
		}
	}
</style>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron text-center" style=
			"background-image:url(https://github.com/mastersofcodingUN/instrumentados/blob/develop/app/assets/images/background.jpg?raw=true);
			background-size: 100% 100%;
			padding: 100px 7.5%">
				<div class="titulo" style="color:grey">
					<br>
					<h1 class="instrumentados" style="color: white">Instrumentados</h1>
					<p>Aprende y comparte tu conocimiento musical</p>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container" style="background-color:white; padding-top:2%; padding-left: 5%; padding-right: 5%; padding-bottom: 5%">
	<div class="row">
		<div class="col-sm-8">
			<h2 style="color: black">
				<strong>Acerca de nosostros</strong>
			</h2>
			<p style="text-align: justify;">
				Somos una plataforma educativa que pretender facilitar el acceso a la educación músical a través de cursos virtuales de manera interactiva. En los cursos podrás encontrar videos, documentos, lecciones y foros para darte una experiancia realmente
				fascinante mientras aprendes.
			</p>
		</div>
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-info-sign logo" style="color: #D16C00"></span>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-book logo" style="color: #D16C00;"></span>
		</div>
		<div class="col-sm-8">
			<h2 style="color:black">
				<strong>Acerca de los cursos</strong>
			</h2>
			<p style="text-align: justify;">
				Instrumentados ofrece una gran variedad de cursos extructurados en lecciones, encontrarás cursos propios de la plataforma y cursos creados por otros usuarios permitiendo una gran oferta. Algunos instrumentos que podrás aprender son:
			</p>
			<ul>
				<li>Guitarra</li>
				<li>Trompeta</li>
				<li>Violín</li>
				<li>etc...</li>
				<br>
			</ul>
		</div>
	</div>
</div>
