
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Contacto</h2>
    </div>
  </div>
  <div class="row">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-4">
      <p>Contactanos y te responderemos en menos de una semana.</p>
      <p>
        <span class="glyphicon glyphicon-map-marker"></span>Bogotá D.C.,Colombia</p>
      <p>
        <span class="glyphicon glyphicon-phone"></span>3157657159</p>
      <p>
        <span class="glyphicon glyphicon-envelope"></span>instrumentados@gmail.com</p>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Nombre" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comentario" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
