ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  color: #646464;
  text-decoration: none;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}
.wrapper {
  position: inherit;
  width: 96%;
  background-color: #fff;
  box-shadow: 0 4px 10px #7A9BAC;
  font-size: 0.875em;
}
.items {
  padding: 18px 0;
}
.items > li > a {
  display: block;
  margin: 0 auto;
  width: 90%;
  text-indent: 18px;
  line-height: 39px;
  color: white;
}
.items > li > a::after {
  position: absolute;
  right: 30px;
  margin-top: 2px;
  font-family: "FontAwesome";
}
.items > li > a::after {
  right: 30px;
  content: "\f061";
}
.itemHover {
  color: #fff;
  font-weight: 600;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.items > li > a.expanded {
  color: #fff;
  font-weight: 600;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}
.items > li > a.foro{
  background-color:#1FAB9E;
}
.items > li > a.foro:hover {
  color: white;
  font-weight: 600;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.items > li > a.expanded::after {
  content: "\f063";
}
.sub-items > li:first-child > a {
  margin-top: 17px;
  height: 34px;
}
.sub-items > li:last-child > a {
  margin-bottom: 17px;
  height: 34px;
}
.sub-items a {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 212px;
  text-indent: 24px;
  line-height: 39px;
}
.sub-items a {
  border-left: 2px solid #64D7E2;
}
.sub-items .current {
  position: relative;
  color: #64D7E2;
  border-color: white;
}
.sub-items > li:hover > a {
  color: #64D7E2;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.sub-items {
  display: none;
}

.input-group .form-control{
  width: 75%;
}

ul.sub-items{
  padding: 10px 0 10px 30px;
}

form{
  display: block;
}

a:hover{
  text-decoration: none;
}

input#instrument.form-control.text-search, input#genre.form-control.text-search{
  width: 75%;
  margin-bottom: 10px;
}

div.col-sm-3.sidenav.m {
  margin-bottom: 20px;
}

a.expanded.barra-menu{
  background-color: #1FAB9E;
}

button.btn.btn-primary.bttn-buscar, input.btn.btn-default.bttn-buscar{
  background-color: #136B63;
}
