<head>
  <title>perfil</title>
</head>
<% User.all.each do |d| %>
  <% if current_user.id == d.id %>
    <div class="container" style="margin-bottom:5%">
      <div class="row">
        <div class="col-md-12 text-center">
          <br>
          <h2 style="color: black;">Perfil</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <blockquote>
            <h3>Nombre</h3>
            <br>
            <td><%= d.name %></td>
            <br>
          </blockquote>
          <blockquote>
            <h3>Correo</h3>
            <br>
            <td><%= d.email %></td>
          </blockquote>
          <blockquote>
            <h3>Pais</h3>
            <br>
            <td><%= d.country %></td>
          </blockquote>

          <blockquote>
            <h3>Fecha de Nacimiento</h3>
            <br>
            <%if d.birthdate != nil%>
              <td><%= d.birthdate.strftime("%d-%m-%Y") %></td>
            <%end%>
          </blockquote>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
