
	<%= render "partials/header" %>
	<%= stylesheet_link_tag "styles"%>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <title>Estadísticas</title>
</head>
<body>
  <%= render "partials/banner" %>
  <%= yield %>
</body>
